body {
    font-family: 'Luckiest Guy', sans-serif;
    text-align: center;
    
}

header h1 {
    padding-top: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
    margin-bottom: 15px;
}

.image-link {
    flex-grow: 1;
    width: 20%;
    border: 3px solid red;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;

}

a {
    text-decoration: none;
    font-size:1em;
    color:red;
    padding: 5px 5px 0 5px;
    border: 1px solid red;
    border-radius: 5px;
}

.image-link a {
    border: 0;
}

input {
    border: 1px solid red;
    border-radius: 5px;
    font-size:1em;
    color:red;
    font-family: 'Luckiest Guy', sans-serif;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 10px;
}

.poke-image img {
    align-self: center;
    width: 40px;
    height: 50px;
    margin-bottom: auto;
    
}

.poke-name {
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    padding-top: 5px;
}

.cont-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.stat-container {
    border: 3px solid red;
    border-radius: 5px;
    width: 30%;
}

.new-form {
    text-align: right;
}

.new-form h3 {
    text-align: center;
}

.change {
    text-align: center;
}

