<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style> body {
        background-color: rgba(8, 164, 226, 0.767);
        color: rgb(236, 166, 74);}
        </style>
</head>
<body></body>
    <h1>See All of the Pokemon!</h1>
    <ul>
        <% for (let i = 0; i < pokemon.length; i++) { %>
            <% const name = pokemon[i].name; %>
            <% const capIt = name.charAt(0).toUpperCase() + name.slice(1); %>
            <li> <a href="pokemon/<%= i %>"><%= capIt %></a></li>
            <% } %>
    </ul>


</body>
</html>