<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <h1>Pokedex</h1>
    </header>
    <br>
    <a href="/pokemon/new">Add New Pokemon</a>
    <div class="container">
        
            <% for (i = 0; i < data.length; i++) { %>
                <div class="image-link">
                    <a href="/pokemon/<%= i %>">
                        <div class="poke-image"><img src="<%= data[i].img %>"></div>
                    </a>
                    <br>
                    <div class="poke-name"><%= data[i].name %></div>
                
                </div>
            <% } %> 
    </div>
    <a href="/pokemon">Top</a>
</body>
</html>