<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <div class="container">
        <h1>Add New Expense</h1>
        <form action="/" method="POST">
            <input type="text" name="date" placeholder="Date"><br>
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="amount" placeholder="Amount"><br>
            <input type="text" name="from" placeholder="From"><br>
            <input type="submit" name="" value="Submit"><br>
        </form>
    </div>
</body>
</html>